<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">
    <servlet>
        <servlet-name>AuthorizationServlet</servlet-name>
        <servlet-class>com.example.demo.infrastructure.in.servlets.AuthorizationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AuthorizationServlet</servlet-name>
        <url-pattern>/authorize</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>RegistrationServlet</servlet-name>
        <servlet-class>com.example.demo.infrastructure.in.servlets.RegistrationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegistrationServlet</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>TransactionServlet</servlet-name>
        <servlet-class>com.example.demo.infrastructure.in.servlets.TransactionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TransactionServlet</servlet-name>
        <url-pattern>/transaction/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AuditServlet</servlet-name>
        <servlet-class>com.example.demo.infrastructure.in.servlets.AuditServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AuditServlet</servlet-name>
        <url-pattern>/audit</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.example.demo.infrastructure.in.servlets.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
</web-app>
